*.class
*.log
# eclipse, intelij
*/.classpath
*/.project
*/src/intellij/*.iml
*/src/intellij/*.ipr
*/src/intellij/*.iws
*/.cache
*/.idea
*/.settings
*.gitignore~

.metadata/

# sbt specific
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
